{{ $work := promptString "Is this a work pc? (y/n)" }}
[data]
    work = "{{ $work }}"
{{ if eq $work "n" }}
    realname = "Lyze"
    email = "11274700+lyze237@users.noreply.github.com"
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIAR7/HN+yatJcNltTSOPUR363akBsf6QH9s/ll5pnNK"
{{ end }}

[edit]
    command = "code"
    args = ["-n", "-w"]

[diff]
    command = "code"
    args = ["-n", "-w", "--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
